body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(241, 236, 187);
}
h1 {
  font-size: 30px;
}
p {
  text-align: center;
  font-size: 25px;
}
img {
  max-width: 50%;
}
.parrafo_info {
  text-align: left;
  font-size: 20px;
}
h2 {
  font-size: 30px;
}
